*.png
test_shai.py
.idea*
*.pyc
*.DS_Store
/log
test.py
*__pycache__*
/api_logs
script.py
.env
.secrets.*
.credentials*
venv
env
*.json
bilbo_service_account.json
lib
.secrets.toml
venv*
.venv/
virtualenv/
tox.ini
.python-version
.coverage
